    <div class = "top">
      <h1>Books</h1>
      <br>
      <h3>このサイトは読んだ本の感想を記していく場所です。</h3>
      <p>あなたが読んだ本を感想文を誰かに共有しましょう！</p>

      <div class ="enter">
        <%= link_to books_path, class: "enter-bookers" do %>こちらから<% end %>
      </div>
    </div>
    
  