/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  font-family: "M PLUS Rounded 1c";
}

main{
  background-color:black;
  width:60%;
  margin:50px auto;
  border:1px double;
  border-width:3px;
  border-bottom:1px solid;
  padding:20px;
}

body{
  background-color:black;
}

.top{
  text-align: center;
}



.enter{
  margin:50px 0;
  text-align:center;
}

.flash{
  display:inline-block;
  background-color:white;
  color:red;
  padding:10px 20px;
  border-radius:10px;
}

.errors{
  border:1px solid white;
  padding:10px;
  display:inline-block;
  margin-bottom:20px;
}

.errors li{
  list-style: none;
  color: red;
}

.form-box{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  padding-bottom:20px;
}

.form-title{
  width:30%;
}

.form-title, .form-body{
  background-color:black;
  border:2px solid gray;
  color:white;
  margin:7px 0;
  padding:5px;
}

.form-body{
  width: 100%;
  height: 200px;
}

.enter-bookers{
font-size:35px;
color:blue;
text-decoration:underline;
}

.h1top{
  padding-top:20px;
  padding-bottom:10px;
    border-top:4px dotted white;
}

.main-box > div{
  background-color:#38a5fb;
}

.table {
  border:1px solid white;
  border-spacing:0 12px;
  padding:6px;
  width:100%;
}

th {
  text-align:left;
}

.th-title{
  width:30%;
}

.th-body{
  width:46%;
}

td {
  height:50px;
  border:2px solid white;
  background-color:#38a5fb;
  padding-left:5px;
}

.td-title{
  width:30%;
  border-right:1px dotted white;
}

.td-body{
  width:45%;
  border-left:none;
  border-right:none;
}

.td-show{
  text-align:center;
  text-decoration:underline;
  font-size:18px;
  padding-left:0;
}

span > a{
  color:blue;
}

.s1{
  margin-right:15px;
}

.button-box{
  text-align: right;
}

.area-button {
  text-align: right;
}

.save-button{
  color:black;
  width:150px;
  height:50px;
  right:0;
  margin-top:10px;
  padding:5px;
  font-size:18px;
}

.button{
  display: inline-block;
  background-color:#EFEFEF;
  width:80px;
  height: 33.5px;
  text-align: center;
  border:1px solid black;
  border-radius:2px;
  line-height: 30px;
  margin-top:10px;
}

.button p {
  color:black;
  font-size:14px;
}